body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.viewport{
  border: 1px solid red;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.content{
  box-sizing: border-box;
  position:absolute;
  transition: all 300ms ease-in-out;
}

html,body {
  margin :0px;
  padding :0px;
  height: 100%;
}

#root{
  height: 100vh;
}
